Repository t-i-0414/react-reversi: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write, pnpm format:es, pnpm format:style, sort-package-json, sort-package-json --check

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,ts,tsx}": ["pnpm prettier --write", "pnpm format:es"],
  "src/**/*.{css,scss,jsx,ts,tsx}": ["pnpm format:style"],
  "./package.json": ["sort-package-json", "sort-package-json --check"]
}

chore: update modules
  .github/actions/install-dependencies/action.yml
  .github/workflows/integration-test.yml
  .tool-versions
  package.json
  pnpm-lock.yaml
Due: sort-package-json, sort-package-json --check

fix: update modules
  .tool-versions
  package.json
  pnpm-lock.yaml
Due: sort-package-json, sort-package-json --check

chore: udpate moduels
  .tool-versions
  package.json
  pnpm-lock.yaml
Due: sort-package-json, sort-package-json --check

build: fix husky config
  .github/actions/install-dependencies/action.yml
  .github/workflows/integration-test.yml
  .husky/pre-commit
  package.json
Due: sort-package-json, sort-package-json --check

chore: update modules
  .storybook/main.ts
  .storybook/preview.ts
  .tool-versions
  package.json
  pnpm-lock.yaml
Due: sort-package-json, sort-package-json --check

chore: update tsconfig
  cypress/tsconfig.json
Due: none

chore: update modules
  .github/actions/install-dependencies/action.yml
  .github/workflows/integration-test.yml
  .tool-versions
  package.json
  pnpm-lock.yaml
  src/domains/game/service.test.ts
  src/store/game/gameSlice.test.ts
Due: pnpm prettier --write, pnpm format:es, pnpm format:style, sort-package-json, sort-package-json --check

feat: update modules
  .tool-versions
  package.json
  pnpm-lock.yaml
Due: sort-package-json, sort-package-json --check

test commit
  hoge.txt
Due: none

fuga
  fuga.txt
Due: none

add ci files
  .github/workflows/pr_template_backport.erb
  .github/workflows/pr_template_release.erb
Due: none

rename
  .github/pr_template_backport.erb
  .github/pr_template_release.erb
Due: none

add ci files
  .github/pr_template_release.erb
Due: none

add dummy text file
  test1.txt
Due: none

add dummy text file
  test2.txt
Due: none

add dummy text file3
  test3.txt
Due: none

add dummy text file4
  test4.txt
Due: none

add dummy text file5
  test5.txt
Due: none

add dummy text file6
  test6.txt
Due: none
