Repository t-i-0414/react-reversi: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write, pnpm format:es, pnpm format:style, sort-package-json, sort-package-json --check

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,ts,tsx}": ["pnpm prettier --write", "pnpm format:es"],
  "src/**/*.{css,scss,jsx,ts,tsx}": ["pnpm format:style"],
  "./package.json": ["sort-package-json", "sort-package-json --check"]
}

chore: 🤖 update modules
  .github/actions/install-dependencies/action.yml
  .github/workflows/integration-test.yml
  .tool-versions
  package.json
Due: sort-package-json, sort-package-json --check

chore: 🤖 update modules
  .tool-versions
  package.json
  pnpm-lock.yaml
Due: sort-package-json, sort-package-json --check

chore: 🤖 upgrade modules
  .github/actions/install-dependencies/action.yml
  .github/workflows/integration-test.yml
  package.json
  pnpm-lock.yaml
Due: sort-package-json, sort-package-json --check

chore: update modules
  .github/actions/install-dependencies/action.yml
  .github/workflows/ci.yml
  .github/workflows/integration-test.yml
  .tool-versions
  package.json
  pnpm-lock.yaml
Due: sort-package-json, sort-package-json --check

chore: update modules
  .github/actions/install-dependencies/action.yml
  .github/workflows/integration-test.yml
  .tool-versions
  package.json
  pnpm-lock.yaml
Due: sort-package-json, sort-package-json --check

chore: upgrade modules
  .github/actions/install-dependencies/action.yml
  .github/workflows/integration-test.yml
  .tool-versions
  package.json
  pnpm-lock.yaml
Due: sort-package-json, sort-package-json --check

chore: upgrade modules
  package.json
  pnpm-lock.yaml
Due: sort-package-json, sort-package-json --check

chore: upgrade modules
  package.json
Due: sort-package-json, sort-package-json --check

chore: upgrade lockfile
  pnpm-lock.yaml
Due: none

chore: ugrade modules
  package.json
  pnpm-lock.yaml
Due: sort-package-json, sort-package-json --check

chore: upgrade modules
  .github/actions/install-dependencies/action.yml
  .github/workflows/integration-test.yml
  .tool-versions
Due: none

chore: upgrade modules
  .tool-versions
  package.json
  pnpm-lock.yaml
Due: sort-package-json, sort-package-json --check

chore: upgrade pnpm
  .github/actions/install-dependencies/action.yml
  .github/workflows/integration-test.yml
  .tool-versions
Due: none

chore: update modules
  .tool-versions
  package.json
  pnpm-lock.yaml
Due: sort-package-json, sort-package-json --check

fix: format
  tsconfig.json
Due: none

fix: lint
  tsconfig.json
Due: none

chore: update modules
  package.json
  pnpm-lock.yaml
Due: sort-package-json, sort-package-json --check

chore: update modules
  .github/actions/install-dependencies/action.yml
  .github/workflows/integration-test.yml
  .tool-versions
  package.json
  pnpm-lock.yaml
  src/components/features/game/Board/useBoard.test.tsx
  src/components/features/game/ResetModal/useResetModal.test.tsx
  src/components/features/game/Score/useScore.test.tsx
  src/domains/board/service.test.ts
  src/domains/game/service.test.ts
  src/store/game/gameSlice.test.ts
  vite.config.mts
Due: pnpm prettier --write, pnpm format:es, pnpm format:style, sort-package-json, sort-package-json --check
