Repository t-i-0414/react-reversi: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write, pnpm format:es, pnpm format:style, sort-package-json, sort-package-json --check

build: replace dependencies
  package.json
  pnpm-lock.yaml
Due: sort-package-json, sort-package-json --check

Revert "Merge pull request #223 from t-i-0414/feature/update-modules-20230401-4"
  package.json
  pnpm-lock.yaml
Due: sort-package-json, sort-package-json --check

build: add packageManeger
  package.json
Due: sort-package-json, sort-package-json --check

update modules
  .babelrc.json
  .prettierignore
  .storybook/main.js
  package.json
  pnpm-lock.yaml
  src/components/atoms/button/index.stories.tsx
  src/components/atoms/piece/index.stories.tsx
  src/components/atoms/square/index.stories.tsx
  src/components/molecules/player-information/index.stories.tsx
  src/components/molecules/reset-modal/index.stories.tsx
Due: pnpm prettier --write, pnpm format:es, pnpm format:style, sort-package-json, sort-package-json --check

update modules
  package.json
  pnpm-lock.yaml
Due: sort-package-json, sort-package-json --check

update modules
  package.json
Due: sort-package-json, sort-package-json --check

update modules
  pnpm-lock.yaml
Due: none

update modules
  .storybook/main.js
Due: none

chore: update modules
  .tool-versions
  package.json
  pnpm-lock.yaml
  src/components/atoms/button/__snapshots__/index.test.tsx.snap
  src/components/atoms/piece/__snapshots__/index.test.tsx.snap
  src/components/atoms/square/__snapshots__/index.test.tsx.snap
  src/components/molecules/player-information/__snapshots__/index.test.tsx.snap
  src/components/molecules/reset-modal/__snapshots__/index.test.tsx.snap
Due: sort-package-json, sort-package-json --check

fix: github action yml
  .github/actions/install-dependencies/action.yml
  .github/workflows/integration-test.yml
Due: none

update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

update modules
  .github/actions/install-dependencies/action.yml
  .github/workflows/integration-test.yml
  .tool-versions
  package.json
  pnpm-lock.yaml
  src/components/atoms/button/__snapshots__/index.test.tsx.snap
  src/components/atoms/piece/__snapshots__/index.test.tsx.snap
  src/components/atoms/square/__snapshots__/index.test.tsx.snap
  src/components/molecules/player-information/__snapshots__/index.test.tsx.snap
  src/components/molecules/reset-modal/__snapshots__/index.test.tsx.snap
Due: sort-package-json, sort-package-json --check

add test
  src/domains/board/service.test.ts
  src/domains/board/service.ts
Due: pnpm prettier --write, pnpm format:es, pnpm format:style

add test
  src/components/features/game/Board/useBoard.test.tsx
  src/components/features/game/Board/useBoard.ts
Due: pnpm prettier --write, pnpm format:es, pnpm format:style

add setting form
  src/components/features/game/SettingForm/SettingForm.stories.tsx
  src/components/features/game/SettingForm/SettingForm.tsx
  src/components/features/game/SettingForm/index.ts
  src/components/features/game/SettingForm/useSettingForm.ts
Due: pnpm prettier --write, pnpm format:es, pnpm format:style

add setting form
  src/components/features/game/SettingForm/SettingForm.stories.tsx
  src/components/features/game/SettingForm/useSettingForm.ts
Due: pnpm prettier --write, pnpm format:es, pnpm format:style

add setting form
  cypress/e2e/game.cy.ts
  src/components/features/game/SettingForm/SettingForm.stories.tsx
  src/components/features/game/SettingForm/SettingForm.tsx
  src/components/features/game/SettingForm/useSettingForm.ts
  src/domains/board/service.ts
Due: pnpm prettier --write, pnpm format:es, pnpm format:style

add createing board logic
  src/components/features/game/SettingForm/useSettingForm.ts
  src/domains/board/service.ts
Due: pnpm prettier --write, pnpm format:es, pnpm format:style

rename
  src/components/features/game/Board/BoardView.tsx
  src/components/features/game/Board/Square/Square.tsx
  src/components/features/game/Button/Button.tsx
  src/components/features/game/Piece/Piece.tsx
  src/components/features/game/RestModal/ResetModalView.tsx
  src/components/features/game/Score/PlayerInformation/PlayerInformation.tsx
  src/components/features/game/Score/ScoreView.tsx
  src/components/features/game/SettingForm/SettingForm.tsx
  src/components/pages/game/hooks.ts
  src/components/pages/game/index.tsx
  src/const/index.ts
  src/constants/colorMap.ts
  src/constants/index.ts
  src/constants/pieceColorMap.ts
  src/constants/playerMap.ts
  src/constants/sizeMap.ts
  src/redux/modules/game.ts
  src/utils/game.ts
Due: pnpm prettier --write, pnpm format:es, pnpm format:style

add create board
  src/domains/board/service.test.ts
  src/domains/board/service.ts
Due: pnpm prettier --write, pnpm format:es, pnpm format:style

add Game Component
  src/components/features/game/Game/Game.tsx
  src/components/features/game/Game/useGame.ts
  src/components/features/game/ResetModal/ResetModal.stories.tsx
  src/components/features/game/ResetModal/ResetModalContainer.tsx
  src/components/features/game/ResetModal/ResetModalView.tsx
  src/components/features/game/ResetModal/index.ts
  src/components/features/game/ResetModal/useResetModal.test.tsx
  src/components/features/game/ResetModal/useResetModal.ts
  src/constants/index.ts
  src/constants/pieceColorMap.ts
  src/constants/playerMap.ts
  src/index.tsx
  src/redux/create-store.tsx
  src/redux/index.ts
  src/redux/modules/game.ts
  src/redux/reducer.ts
  src/types/index.d.ts
  src/types/state.d.ts
  src/types/util.d.ts
  src/utils/game.ts
  src/utils/index.ts
Due: pnpm prettier --write, pnpm format:es, pnpm format:style

add Game Component
  cypress/screenshots/game.cy.ts/The Game Page -- Game App exists (failed).png
  src/components/features/game/Game/Game.tsx
  src/components/features/game/Game/useGame.ts
  src/components/features/game/Score/ScoreContainer.tsx
  src/domains/game/service.ts
  src/index.tsx
Due: pnpm prettier --write, pnpm format:es, pnpm format:style

fix tsconfig
  tsconfig.json
Due: none

fix e2e
  cypress/e2e/game.cy.ts
Due: none

update pnpm
  .github/actions/install-dependencies/action.yml
  .github/workflows/integration-test.yml
  .tool-versions
  package.json
Due: sort-package-json, sort-package-json --check

update pnpm
  pnpm-lock.yaml
Due: none

add react sstrict mode
  src/index.tsx
Due: pnpm prettier --write, pnpm format:es, pnpm format:style

fix domain
  src/domains/index.ts
Due: pnpm prettier --write, pnpm format:es, pnpm format:style

fix domain
  src/components/features/game/Game/Game.tsx
  src/components/features/game/Game/useGame.ts
  src/domains/game/service.ts
Due: pnpm prettier --write, pnpm format:es, pnpm format:style

fix domain
  src/components/features/game/Board/Square/Square.tsx
  src/components/features/game/Game/Game.tsx
  src/components/features/game/Game/useGame.ts
Due: pnpm prettier --write, pnpm format:es, pnpm format:style

memo
  src/components/features/game/Piece/Piece.tsx
  src/components/features/game/ResetModal/useResetModal.ts
  src/components/features/game/Score/PlayerInformation/PlayerInformation.tsx
  src/components/features/game/Score/useScore.ts
Due: pnpm prettier --write, pnpm format:es, pnpm format:style

memo
  src/components/features/game/SettingForm/useSettingForm.ts
Due: pnpm prettier --write, pnpm format:es, pnpm format:style

fix setting form
  src/components/features/game/Game/index.ts
  src/components/features/game/SettingForm/SettingForm.tsx
  src/components/features/game/SettingForm/useSettingForm.ts
  src/index.tsx
Due: pnpm prettier --write, pnpm format:es, pnpm format:style

improve performance
  package.json
  pnpm-lock.yaml
  src/components/features/game/Board/BoardView.tsx
  src/components/features/game/Board/Square/Square.tsx
  src/components/features/game/Piece/Piece.tsx
  src/components/features/game/Score/PlayerInformation/PlayerInformation.tsx
  src/constants/sizeMap.ts
Due: pnpm prettier --write, pnpm format:es, pnpm format:style, sort-package-json, sort-package-json --check

add test
  src/domains/game/service.test.ts
Due: pnpm prettier --write, pnpm format:es, pnpm format:style

Path conditions:
  pnpm prettier --write: any of: src/**/*.{js,jsx,ts,tsx}
  pnpm format:es: any of: src/**/*.{js,jsx,ts,tsx}
  pnpm format:style: any of: src/**/*.{css,scss,jsx,ts,tsx}
  sort-package-json: any of: ./package.json
  sort-package-json --check: any of: ./package.json
