Repository t-i-0414/react-reversi: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write, pnpm format:es, pnpm format:style, sort-package-json, sort-package-json --check

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,ts,tsx}": ["pnpm prettier --write", "pnpm format:es"],
  "src/**/*.{css,scss,jsx,ts,tsx}": ["pnpm format:style"],
  "./package.json": ["sort-package-json", "sort-package-json --check"]
}

fix
  src/components/features/game/Score/PlayerInformation/PlayerInformation.stories.tsx
Due: pnpm prettier --write, pnpm format:es, pnpm format:style

fix sb
  src/components/features/game/Board/Square/Square.stories.tsx
Due: pnpm prettier --write, pnpm format:es, pnpm format:style

add sb test
  .eslintrc.js
  .github/workflows/ci.yml
  cypress/e2e/game.cy.ts
  cypress/screenshots/game.cy.ts/The Game Page -- Game App exists (failed).png
  package.json
  pnpm-lock.yaml
  src/components/features/game/Button/Button.tsx
  src/components/features/game/SettingForm/SettingForm.stories.tsx
  src/components/features/game/SettingForm/SettingForm.tsx
Due: pnpm prettier --write, pnpm format:es, pnpm format:style, sort-package-json, sort-package-json --check

fix ci
  .github/workflows/ci.yml
Due: none

fix ci
  .github/workflows/ci.yml
  .gitignore
  package.json
Due: sort-package-json, sort-package-json --check

fix ci
  .github/workflows/ci.yml
  package.json
Due: sort-package-json, sort-package-json --check

fix ci
  src/components/features/game/SettingForm/SettingForm.stories.tsx
Due: pnpm prettier --write, pnpm format:es, pnpm format:style

fix ignore file
  .eslintignore
  .prettierignore
Due: none

fix ignore file
  .stylelintrc.js
Due: none

fix ignore file
  src/components/features/game/SettingForm/SettingForm.stories.tsx
Due: pnpm prettier --write, pnpm format:es, pnpm format:style

build: webpack→vite
  .storybook/main.js
  craco.config.js
  index.html
  package.json
  pnpm-lock.yaml
  public/index.html
  vite.config.js
Due: sort-package-json, sort-package-json --check

update module
  package.json
  pnpm-lock.yaml
Due: sort-package-json, sort-package-json --check

build: fix sb config
  .storybook/main.js
  .storybook/main.ts
Due: none

chore: add vite plugin
  .storybook/main.ts
  package.json
  pnpm-lock.yaml
Due: sort-package-json, sort-package-json --check

chore: modify index.html
  index.html
Due: none

update module
  package.json
  pnpm-lock.yaml
  src/components/features/game/SettingForm/SettingForm.tsx
Due: pnpm prettier --write, pnpm format:es, pnpm format:style, sort-package-json, sort-package-json --check

update module
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: sort-package-json, sort-package-json --check

update module
  .github/workflows/ci.yml
  package.json
Due: sort-package-json, sort-package-json --check

update nodejs
  .github/actions/install-dependencies/action.yml
  .github/workflows/integration-test.yml
  .tool-versions
  package.json
  pnpm-lock.yaml
Due: sort-package-json, sort-package-json --check

chore: 🤖 update module
  index.html
  package.json
  pnpm-lock.yaml
Due: sort-package-json, sort-package-json --check

chore: 🤖 update modules
  package.json
  pnpm-lock.yaml
Due: sort-package-json, sort-package-json --check

chore: 🤖 update modules
  .github/actions/install-dependencies/action.yml
  .github/workflows/integration-test.yml
  .tool-versions
  package.json
  pnpm-lock.yaml
Due: sort-package-json, sort-package-json --check

chore: 🤖 upgrade modules
  .github/actions/install-dependencies/action.yml
  .github/workflows/integration-test.yml
  .tool-versions
  package.json
  pnpm-lock.yaml
Due: sort-package-json, sort-package-json --check

fix: 🐛 game type
  src/store/game/gameSlice.ts
Due: pnpm prettier --write, pnpm format:es, pnpm format:style

feat: 🎸 upgrade modules
  .github/actions/install-dependencies/action.yml
  .github/create-release-pr-template.erb
  .github/workflows/integration-test.yml
  .github/workflows/pr-release-template-production.yml
  .storybook/preview.js
  .storybook/preview.ts
  .tool-versions
  package.json
  pnpm-lock.yaml
Due: sort-package-json, sort-package-json --check

test: 💍 modify test config
  src/setupTests.ts
Due: pnpm prettier --write, pnpm format:es, pnpm format:style
